{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>{{.greeting}}</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
      <form action="/App/Hello" method="GET">
          {{with $field := field "myName" .}}
              <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
          {{end}}
          <input type="submit" value="Say hello!" />
      </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
